<a href="https://colab.research.google.com/github/mahi7259/PHYTON/blob/main/Floyd's_triangle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def print_pascals_triangle(rows):
    for i in range(rows):
        num = 1
        print(" " * (rows - i), end=" ")
        for j in range(i + 1):
            print(num, end=" ")
            num = num * (i - j) // (j + 1)
        print()

rows = int(input("Enter the number of rows for Pascal's Triangle: "))
print_pascals_triangle(rows)

Enter the number of rows for Pascal's Triangle: 4
     1
    1 1
   1 2 1
  1 3 3 1

In [2]:
rows = int(input("Enter the number of rows: "))
num = 1

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(num, end=" ")
        num += 1
    print()

Enter the number of rows: 4
1
2 3
4 5 6
7 8 9 10