<a href="https://colab.research.google.com/github/mahi7259/PHYTON/blob/main/myphyton_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#add two numbers
num1=int(input("enter first number"))
num2=int(input("enter second number"))
result=num1+num2
print("The sum is:",result)

enter first number2
enter second number2
The sum is: 4

In [6]:
r=float(input("radius of circle"))
area=3.142*r*r
print("area of circle is:",area)

radius of circle3
area of circle is: 28.278

In [3]:
num1=int(input("enter first number"))
num2=int(input("enter second number"))
result=num1*num2
print("The sum is:",result)

enter first number2
enter second number3
The sum is: 6

In [4]:
a=int(input("enter a"))
b=int(input("enter b"))
print(a+b,a*b,a/b,a-b)

enter a5
enter b2
7 10 2.5 3

In [12]:
celsius=float(input("enter temp in celsius"))
faren=(ccelsius*9/5)+32
print("tempreture in faren",faren)

enter temp in celsius23
tempreture in faren 73.4

In [21]:
faren=float(input("enter temp in faren"))
celsius=5/9*(faren-32)
print("celsius",celsius)

enter temp in faren77
celsius 25.0

In [26]:
weight=int(input("enter weight"))
hight=float(input("enter hight"))
bmi=weight/(hight*hight)
print("bmi",bmi)

enter weight60
enter hight1.7
bmi 20.761245674740486