<a href="https://colab.research.google.com/github/mahi7259/PHYTON/blob/main/task_4_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#sum of list
a=[1,2,3,4]
b=sum(a)
b

10

In [5]:
#maximum
c=max(a)
c

4

In [6]:
#minimum
d=min(a)
d

1

In [14]:
#merged list
a=[1,2,3,4]
b=[4,5,6,7]
f=a+b
f

[1, 2, 3, 4, 4, 5, 6, 7]

In [15]:
#count occurence
a=[1,2,3,7,4,7,5,3,7,6,7]
element=7
count=a.count(element)
count

4

In [18]:
#Tuple Unpacking
person=("mahiboob",19,"Engineer")
name,age,job=person
print(name)
print(age)
print(job)

mahiboob
19
Engineer

In [30]:
#Tuple Concatenation:
a=(1,2,3,4)
b=(5,6,7,8)
c=a+b
c

(1, 2, 3, 4, 5, 6, 7, 8)

In [31]:
#dictionary
a={"name":"mahiboob",
   "roll":11,
   "branch":"CX"
   }
a

{'name': 'mahiboob', 'roll': 11, 'branch': 'CX'}

In [42]:
#adding
a["age"] = 19
a

{'name': 'mahiboob', 'roll': 11, 'branch': 'CX', 'age': 19}

In [47]:
#List to Set
a=[1,2,3,4]
b=set(a)
b

{1, 2, 3, 4}

In [52]:
#Check element in set
def is_set(a):
  a={1,2,3,4}
  if 5 in a:
    print("yes")
  else:
    print("no")
is_set(a)

no

In [53]:
#set of even numbers
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [56]:
#list comperission
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]